/*
Free Loading Spinner from icons8.com/cssload
https://icons8.com/cssload/en/terms_of_use
*/

.cssload-container * {
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.cssload-container {
    margin: 38px auto 0 auto;
    max-width: 1048px;
}

.cssload-container ul li{
    list-style: none;
}

.cssload-flex-container {
    display: flex;
    display: -o-flex;
    display: -ms-flex;
    display: -webkit-flex;
    display: -moz-flex;
    flex-direction: row;
    -o-flex-direction: row;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-wrap: wrap;
    -o-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.cssload-flex-container li {
    padding: 19px;
    height: 188px;
    width: 188px;
    margin: 56px 38px;
    position: relative;
    text-align: center;
}

.cssload-orange .cssload-loading:after,
.cssload-orange .cssload-loading:before,
.cssload-orange .cssload-loading-center{
    background: #ffaf03;
}

.cssload-white {
    background: rgb(255,255,255);
}

.cssload-small .cssload-flex-container li{
    transform: scale(0.5);
}

.cssload-loading-center {
    display: inline-block;
    position: absolute;
    background: rgb(255,255,255);
    height: 56px;
    width: 56px;
    left: 68px;
    top: 69px;
    transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    border-radius: 6px;
    -o-border-radius: 6px;
    -ms-border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    animation: pulse 1.15s ease infinite;
    -o-animation: pulse 1.15s ease infinite;
    -ms-animation: pulse 1.15s ease infinite;
    -webkit-animation: pulse 1.15s ease infinite;
    -moz-animation: pulse 1.15s ease infinite;
}

.cssload-loading {
    display: inline-block;
    position: relative;
    width: 141px;
    height: 141px;
    margin-top: 6px;
    transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
}
.cssload-loading:after, .cssload-loading:before {
    position: absolute;
    content: '';
    height: 19px;
    width: 19px;
    display: block;
    top: 0;
    background: rgb(255,255,255);
    border-radius: 6px;
    -o-border-radius: 6px;
    -ms-border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    animation-delay: -.5.75s;
    -o-animation-delay: -.5.75s;
    -ms-animation-delay: -.5.75s;
    -webkit-animation-delay: -.5.75s;
    -moz-animation-delay: -.5.75s;
}
.cssload-loading:after {
    right: 0;
    animation: square-tr 2.3s ease infinite;
    -o-animation: square-tr 2.3s ease infinite;
    -ms-animation: square-tr 2.3s ease infinite;
    -webkit-animation: square-tr 2.3s ease infinite;
    -moz-animation: square-tr 2.3s ease infinite;
    animation-delay: .143.75s;
    -o-animation-delay: .143.75s;
    -ms-animation-delay: .143.75s;
    -webkit-animation-delay: .143.75s;
    -moz-animation-delay: .143.75s;
}
.cssload-loading:before {
    animation: square-tl 2.3s ease infinite;
    -o-animation: square-tl 2.3s ease infinite;
    -ms-animation: square-tl 2.3s ease infinite;
    -webkit-animation: square-tl 2.3s ease infinite;
    -moz-animation: square-tl 2.3s ease infinite;
    animation-delay: .143.75s;
    -o-animation-delay: .143.75s;
    -ms-animation-delay: .143.75s;
    -webkit-animation-delay: .143.75s;
    -moz-animation-delay: .143.75s;
}

.cssload-loading.cssload-two {
    position: relative;
    top: -150px;
}
.cssload-loading.cssload-two:after, .cssload-loading.cssload-two:before {
    bottom: 0;
    top: initial;
}
.cssload-loading.cssload-two:after {
    animation: square-br 2.3s ease infinite;
    -o-animation: square-br 2.3s ease infinite;
    -ms-animation: square-br 2.3s ease infinite;
    -webkit-animation: square-br 2.3s ease infinite;
    -moz-animation: square-br 2.3s ease infinite;
    animation-direction: reverse;
    -o-animation-direction: reverse;
    -ms-animation-direction: reverse;
    -webkit-animation-direction: reverse;
    -moz-animation-direction: reverse;
}
.cssload-loading.cssload-two:before {
    animation: square-bl 2.3s ease infinite;
    -o-animation: square-bl 2.3s ease infinite;
    -ms-animation: square-bl 2.3s ease infinite;
    -webkit-animation: square-bl 2.3s ease infinite;
    -moz-animation: square-bl 2.3s ease infinite;
    animation-direction: reverse;
    -o-animation-direction: reverse;
    -ms-animation-direction: reverse;
    -webkit-animation-direction: reverse;
    -moz-animation-direction: reverse;
}








@keyframes square-tl {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(0, 117.5px);
    }
    50% {
        transform: translate(117.5px, 117.5px);
    }
    75% {
        transform: translate(117.5px, 0);
    }
}

@-o-keyframes square-tl {
    0% {
        -o-transform: translate(0, 0);
    }
    25% {
        -o-transform: translate(0, 117.5px);
    }
    50% {
        -o-transform: translate(117.5px, 117.5px);
    }
    75% {
        -o-transform: translate(117.5px, 0);
    }
}

@-ms-keyframes square-tl {
    0% {
        -ms-transform: translate(0, 0);
    }
    25% {
        -ms-transform: translate(0, 117.5px);
    }
    50% {
        -ms-transform: translate(117.5px, 117.5px);
    }
    75% {
        -ms-transform: translate(117.5px, 0);
    }
}

@-webkit-keyframes square-tl {
    0% {
        -webkit-transform: translate(0, 0);
    }
    25% {
        -webkit-transform: translate(0, 117.5px);
    }
    50% {
        -webkit-transform: translate(117.5px, 117.5px);
    }
    75% {
        -webkit-transform: translate(117.5px, 0);
    }
}

@-moz-keyframes square-tl {
    0% {
        -moz-transform: translate(0, 0);
    }
    25% {
        -moz-transform: translate(0, 117.5px);
    }
    50% {
        -moz-transform: translate(117.5px, 117.5px);
    }
    75% {
        -moz-transform: translate(117.5px, 0);
    }
}

@keyframes square-bl {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(0, -117.5px);
    }
    50% {
        transform: translate(117.5px, -117.5px);
    }
    75% {
        transform: translate(117.5px, 0);
    }
}

@-o-keyframes square-bl {
    0% {
        -o-transform: translate(0, 0);
    }
    25% {
        -o-transform: translate(0, -117.5px);
    }
    50% {
        -o-transform: translate(117.5px, -117.5px);
    }
    75% {
        -o-transform: translate(117.5px, 0);
    }
}

@-ms-keyframes square-bl {
    0% {
        -ms-transform: translate(0, 0);
    }
    25% {
        -ms-transform: translate(0, -117.5px);
    }
    50% {
        -ms-transform: translate(117.5px, -117.5px);
    }
    75% {
        -ms-transform: translate(117.5px, 0);
    }
}

@-webkit-keyframes square-bl {
    0% {
        -webkit-transform: translate(0, 0);
    }
    25% {
        -webkit-transform: translate(0, -117.5px);
    }
    50% {
        -webkit-transform: translate(117.5px, -117.5px);
    }
    75% {
        -webkit-transform: translate(117.5px, 0);
    }
}

@-moz-keyframes square-bl {
    0% {
        -moz-transform: translate(0, 0);
    }
    25% {
        -moz-transform: translate(0, -117.5px);
    }
    50% {
        -moz-transform: translate(117.5px, -117.5px);
    }
    75% {
        -moz-transform: translate(117.5px, 0);
    }
}

@keyframes square-tr {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(-117.5px, 0);
    }
    50% {
        transform: translate(-117.5px, 117.5px);
    }
    75% {
        transform: translate(0, 117.5px);
    }
}

@-o-keyframes square-tr {
    0% {
        -o-transform: translate(0, 0);
    }
    25% {
        -o-transform: translate(-117.5px, 0);
    }
    50% {
        -o-transform: translate(-117.5px, 117.5px);
    }
    75% {
        -o-transform: translate(0, 117.5px);
    }
}

@-ms-keyframes square-tr {
    0% {
        -ms-transform: translate(0, 0);
    }
    25% {
        -ms-transform: translate(-117.5px, 0);
    }
    50% {
        -ms-transform: translate(-117.5px, 117.5px);
    }
    75% {
        -ms-transform: translate(0, 117.5px);
    }
}

@-webkit-keyframes square-tr {
    0% {
        -webkit-transform: translate(0, 0);
    }
    25% {
        -webkit-transform: translate(-117.5px, 0);
    }
    50% {
        -webkit-transform: translate(-117.5px, 117.5px);
    }
    75% {
        -webkit-transform: translate(0, 117.5px);
    }
}

@-moz-keyframes square-tr {
    0% {
        -moz-transform: translate(0, 0);
    }
    25% {
        -moz-transform: translate(-117.5px, 0);
    }
    50% {
        -moz-transform: translate(-117.5px, 117.5px);
    }
    75% {
        -moz-transform: translate(0, 117.5px);
    }
}

@keyframes square-br {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(-117.5px, 0);
    }
    50% {
        transform: translate(-117.5px, -117.5px);
    }
    75% {
        transform: translate(0, -117.5px);
    }
}

@-o-keyframes square-br {
    0% {
        -o-transform: translate(0, 0);
    }
    25% {
        -o-transform: translate(-117.5px, 0);
    }
    50% {
        -o-transform: translate(-117.5px, -117.5px);
    }
    75% {
        -o-transform: translate(0, -117.5px);
    }
}

@-ms-keyframes square-br {
    0% {
        -ms-transform: translate(0, 0);
    }
    25% {
        -ms-transform: translate(-117.5px, 0);
    }
    50% {
        -ms-transform: translate(-117.5px, -117.5px);
    }
    75% {
        -ms-transform: translate(0, -117.5px);
    }
}

@-webkit-keyframes square-br {
    0% {
        -webkit-transform: translate(0, 0);
    }
    25% {
        -webkit-transform: translate(-117.5px, 0);
    }
    50% {
        -webkit-transform: translate(-117.5px, -117.5px);
    }
    75% {
        -webkit-transform: translate(0, -117.5px);
    }
}

@-moz-keyframes square-br {
    0% {
        -moz-transform: translate(0, 0);
    }
    25% {
        -moz-transform: translate(-117.5px, 0);
    }
    50% {
        -moz-transform: translate(-117.5px, -117.5px);
    }
    75% {
        -moz-transform: translate(0, -117.5px);
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@-o-keyframes rotate {
    from {
        -o-transform: rotate(0deg);
    }
    to {
        -o-transform: rotate(360deg);
    }
}

@-ms-keyframes rotate {
    from {
        -ms-transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
    }
}

@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes rotate {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}

@keyframes pulse {
    0%, 100% {
        transform: scale(inherit) rotate(45deg);
    }
    75% {
        transform: scale(0.25) rotate(45deg);
    }
}

@-o-keyframes pulse {
    0%, 100% {
        -o-transform: scale(inherit) rotate(45deg);
    }
    75% {
        -o-transform: scale(0.25) rotate(45deg);
    }
}

@-ms-keyframes pulse {
    0%, 100% {
        -ms-transform: scale(inherit) rotate(45deg);
    }
    75% {
        -ms-transform: scale(0.25) rotate(45deg);
    }
}

@-webkit-keyframes pulse {
    0%, 100% {
        -webkit-transform: scale(inherit) rotate(45deg);
    }
    75% {
        -webkit-transform: scale(0.25) rotate(45deg);
    }
}

@-moz-keyframes pulse {
    0%, 100% {
        -moz-transform: scale(inherit) rotate(45deg);
    }
    75% {
        -moz-transform: scale(0.25) rotate(45deg);
    }
}